@font-face {
  font-family: 'Inter';
  font-weight: 300;
  src: url("./fonts/inter/Inter-Light.ttf");
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url("./fonts/inter/Inter-Regular.ttf");
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  src: url("./fonts/inter/Inter-Bold.ttf");
}